* {
    margin: 0;
    padding: 0;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/landing-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav {
    float: right;
    list-style: none;
    margin-top: 24px;
}
.nav li {
    display: inline-block;
    cursor: pointer;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-family: cursive;
    font-size: 16px;
}
.nav li a:hover {
    border-bottom: 1px solid white;
}
.logo i {
    font-size:80px;
    color:white;
    float: left;
}
.row {
    width:1200px;
    margin: auto;
}
.title {
    position: absolute;
    width: 1200px;
    margin-top : 0;
    margin-left: 0;
}
.title p {
    color: white;
    font-family: cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    margin-left: 80px;
}
.title .down-arrow {
    font-size:48px;
    color:white;
    margin-left: 600px;
    padding-top: 16px;
    cursor: pointer;
}
.about-us-container {
    display: flex;
}
.column {
    flex: 1;
    margin: 24px;
}
.description-container {
    /* background-color: #f2f2f2 !important; */
}
.description {
    text-align: center;
}
.about-us-title {
    padding: 16px;
    color: #a6a6a6;
    font-family: cursive;
    font-size: 32px;
}
.about-us-content {
    color: #404040;
    font-family: cursive;
    font-style: italic;  
    font-size: 16px;
    padding-bottom: 54px
}
.mySlides {
      display: none;
}  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: grey;
    border: 1px solid #555555;
  }
  .button:hover {
    border: 2px solid #555555;
    font-style: italic;
  }

